@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#bienvenida{
    width: 100%;
    max-width: 430px;
    min-height: 100vh;
    height: 100vh;
    margin: 0 auto;
    background: url("../img/fondo.png");
    background-size: cover;
    position: relative;
}


#bienvenida img{
    position: absolute;
    top: 25%;
    left: 35%;
}

#bienvenida h2{
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 16%;
}

#bienvenida p{
    color: #8598a8;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 16%;
}

#bienvenida a{
    text-decoration: none;
    color: #fff;
    font-family: "Lato", sans-serif;
}

#bienvenida button{
    position: absolute;
    top: 75%;
    right: 0;
    left: 0;
    border-radius: 30px;
    padding: 20px 40px;
    width: 250px;
    margin: 0 auto;
}

/* Diseños aplicados para el boton de bienvenida*/
.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: #112A2F;
  box-shadow: 0 0 13px #3AF5EC;
  transition: .5s;
}

.shadow__btn:hover {

  background: #000;
}

/* Pagina de la playlist */
.list-group{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    border-radius: 20px !important;
}

.list-group li{
    color: #fff !important;
    border-radius: 20px;
}


.list-group-item{
    background-color: #6666664d !important;
    border: transparent !important;
    box-shadow: 0 0 20px #000;
}

.fw-bold{
    color: #fff;
}

.ms-2{
    color: #a7a7a7;
}

#fondo-playlist{
    width: 100%;
    max-width: 430px;
    min-height: 100vh;
    height: 100vh;
    margin: 0 auto;
    background: url("../img/fondo2.jpg");
    background-size: cover;
    position: relative;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0); /* Color de fondo semi-transparente */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
  }


.container a{
    text-decoration: none;
    border-radius: 10px;
}